<section>
<nav class='navabr navbar-default'> 
<div class="container">
<div class='navbar-header'>
  <p class="navbar-brand"> Confulence Admin</p>
</div>
<!--<span  ui-view='menubar'></span>-->
   <ul class="nav navbar-nav">
    <li><a ui-sref="adminHome.menu">Menu</a></li>
    <li><a ui-sref="adminHome.AddEvent">AddEvent</a></li>
    <li><a ui-sref="adminHome.EventNames({from:'manageEvent'})">ManageEvent</a></li>
    <li><a ui-sref="adminHome.EventNames({from:'deleteEvent'})">DeleteEvent</a></li>
    <li><a ui-sref="adminHome.EventNames({from:'users'})">Users</a></li>
    <li><a href="#test">Test</a></li>
    <li><a href="#AskQuestion">Question</a></li>
    <li><a href="#/">Logout</a></li>
   </ul>
</div>  
</nav>
<div ui-view></div>
</section>

