<div class="container">
  <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 clearfix" 
           onclick="location.href='#AddEvent'">
          <div class='smalltiles greencolor'>AddEvent</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 clearfix" onclick="location.href='#EventNames/manageEvent'">
          <div class='smalltiles yellowcolor'>Manage Event</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 clearfix">
          <div class='smalltiles redcolor' onclick="location.href='#EventNames/deleteEvent'">Delete Event</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class='smalltiles bluecolor' onclick="location.href='#EventNames/users'">Users</div>
        </div>
  </div>
</div>
