<div class="container">
  <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix" ng-click="ModifyEvent()">
          <div class='smalltiles greencolor'>ModifyEvent</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix"  ng-click="AddUser()">
          <div class='smalltiles bluecolor'>Add User</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-xs-12 clearfix" ng-click="RemoveUser()">
          <div class='smalltiles redcolor' >Delete User</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 clearfix" ng-click="ModifyUser()">
          <div class='smalltiles yellowcolor'>Modify User</div>
        </div>
  </div>
</div>