<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <form name="AddNewEvent">
           <div class="form-group">
           <label for="EventName">Event Name</label>
           <input id="EventName" type="text" ng-model="EventObject.eventName" required/>
           </div>
            <div class="form-group">
           <label for="EventStatus">Event Status</label>
                  <select ng-model="EventObject.status">
                  <option  value="false" ng-selected="EventObject.status==false">NOTSTARTED</option>                 
                  <option value="true" ng-selected="EventObject.status==true">STARTED</option>
                </select>
           </div>
            <div class="form-group">
           <label for="EventDate" >Event Date</label>
           <input id="EventDate" type="date" ng-model="EventObject.date" ng-init="EventObject.date=getDate(EventObject.date)"required/>
           </div>
           <div class="form-group" ng-repeat="dayList in EventObject.dayList track by $index">
             <div>              
                <input type="text" ng-model="dayList.day" placeholder="Day1" required/>
                <input type="date" ng-model="dayList.date" required ng-init="dayList.date=getDate(dayList.date)"/>   
                <select ng-model="dayList.status">
                  <option  value="false" ng-selected="dayList.status==false">NOTSTARTED</option>                 
                  <option value="true" ng-selected="dayList.status==true">STARTED</option>
                </select>
              <!--   <input type="button" value="ADD" class="btn btn-primary" ng-click="AddDay($index)"/>  
                <input type="button" value="REMOVE" class="btn btn-danger" ng-disabled="EventObject.dayList.length<2" ng-click="RemoveDay($index)"/>  -->           
             </div>
             <!-- <div  ng-repeat="agendaList in dayList.agendaList |orderBy:'startTime' track by $index"> -->
             <div  ng-repeat="agendaList in dayList.agendaList track by $index">
                <div>              
                <input type="text" ng-model="agendaList.title" placeholder="AgendaName" required/>
                <label for="startTime">Start Time</label><input id="startTime" type="time" ng-model="agendaList.startTime" required ng-init="agendaList.startTime=getDate(agendaList.startTime)"/>  
                <label for="endTime">End Time</label><input id="endTime" type="time" ng-model="agendaList.endTime" required ng-init="agendaList.endTime=getDate(agendaList.endTime)"/>
                <label for="venue">Venue</label><input id="venue" type="text" ng-model="agendaList.venue" required/>    
                <select ng-model="agendaList.status" ng>
                  <option  value="NOTSTARTED" ng-selected="agendaList.status=='NOTSTARTED'">NOTSTARTED</option>                 
                  <option value="INPROGRESS" ng-selected="agendaList.status=='INPROGRESS'">INPROGRESS</option>                                 
                  <option value="COMPLETED" ng-selected="agendaList.status=='COMPLETED'">COMPLETED</option>
                </select>
                <input type="button" value="ADD" class="btn btn-primary" ng-click="AddAgenda($parent.$index,$index)"/>  
                <input type="button" value="REMOVE" class="btn btn-danger" ng-disabled="dayList.agendaList.length<2" ng-click="RemoveAgenda($parent.$index,$index)"/> 
                </div>           
             </div>        
             
           </div>
           <div class="form-group">           
           <input type="button" value="MODIFY" class="btn btn-primary" ng-disabled="AddNewEvent.$invalid" ng-click="modifyEvent()"/>
           </div>
           </form>
        </div>
  </div>
</div>